.custom-preload {
    pointer-events: none !important;
    background: #fffefe !important;
    opacity: 0.8 !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .txt-custom-preload{
      font-size: 3rem !important;
      color: black !important;
      opacity: 1 !important;
      text-align: center !important;
  }


  .spinner{
    width: 80px !important;
    height: 80px !important;
    
    border: 2px solid #f3f3f3 !important;
    border-top:3px solid #f25a41 !important;
    border-radius: 100% !important;

    top:0 !important;
    bottom:0 !important;
    left:0 !important;
    right: 0 !important;
    margin: auto !important;
    
    animation: spin 1s infinite linear;
}


@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}



.txt-instruciones-software{
    font-weight: 600;
    color: black;
    text-decoration: none;
    padding-top: 10px;
    float: left;
    cursor: pointer;
}


.txt-instruciones-acordion{
    font-weight: 600;
    color: black;
    text-decoration: none;
    padding-top: 10px;
    cursor: pointer;
}

.elementos-manual-video{
    display: flex;
    justify-content: space-around;
}


.img-same-size-card{
    width: 100%;
    height: 40%;
    object-fit: cover;
}


.margin10{
    margin: 10px;
}

.crop{
  height: 250px;
  overflow: hidden;
}

.crop img{
   width: 100%;
}

.agregar:hover{
  background:#565353;
}

.price-rater{
    display: flex;
    justify-content: space-around;
}

.price{
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000;
}

.titulo-productos-tienda{
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    color: gray;
    font-weight: 500;
}

.icon-carrito{
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.icon-carrito:hover{
    color: white;
    font-size: 20px;
    background: #342352;
    border-radius: 50%;
    transition: 1s;
}

.content-productos-modal{
    display: flex;
}

.ancho-110{
    width: 110px;
}

.center-mitad{
    text-align: center; 
    vertical-align: middle;
}

.cantidad-en-carrito{
    padding: 4px;
}

.btnrestar{
    margin: 4px;
    font-size: 10px;
}

.btnsumar{
    margin: 4px;
    font-size: 10px;
}

.total-modal{
    background: #dddddd;
}

.btn-vaciar-carrito{
    width: 90%;
    margin: 0 auto;
}

.m-10{
    margin: 10px;
}